#section-login, #section-register {
  background-color: @color-gray-darker;

  input {
    background-color: #FFF;
  }

  .box {
    background-color: #f8f8f8;
  }
  .avatar {
    img {
      width: 85px;
      height: 85px;
      border: 3px solid #696666;
      border-radius: 200px;
    }
  }

  .login-links {
    &, a {
      color: @color-gray-medium;
    }

    a {
      &:hover {
        color: @color-gray-light;
      }
    }
  }
}