body {
    font-family: Helvetica, sans-serif;
}
.color-high {
    color: red;
}
.color-medium {
    color: orange;
}
.color-low {
    color: green;
}
li:hover {
    cursor: pointer;
}
li:hover:after {
    content: ' (remove)';
}