@import "colors.less";
@import "vendor/font-awesome/font-awesome.less";
@import "fonts.css";
@import "vendor/bulma.css";
@import "pages/login.less";

html, body {
  height: 100%;
}

body {
  background-color: @color-gray-lighter;
}

button, a {
  transition: color 120ms, background-color 120ms;
}

.is-underlined {
  text-decoration: underline;
}

.avatar {
  img {
    border-radius: 200px;
  }
}

.wrapper {
  margin-left: 65px;

  &.sidebar-open {
    margin-left: 315px;
  }
}